name: Continuous Integration

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'temurin'
      
    - name: Build and test Message backend
      run: |
        chmod +x ./gradlew
        ./gradlew clean build
        ./gradlew test
        echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
        docker build --no-cache -t prince1337/message-server:latest .
        docker push prince1337/message-server:latest
      working-directory: ./Docker-Message
      
    - name: Build and test Product backend
      run: |
        chmod +x ./gradlew
        ./gradlew clean build
        ./gradlew test
        echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
        docker build --no-cache -t prince1337/product-server:latest .
        docker push prince1337/product-server:latest
      working-directory: ./Docker-Product
      
 #   - name: Set up Docker
 #     uses: docker/setup-docker@v2

    - name: Build and Push Docker Image
      run: |
        echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
        docker build --no-cache -t prince1337/baeldung-ci-cd-process:latest .
        docker push prince1337/baeldung-ci-cd-process:latest

      env:
        DOCKER_BUILDKIT: 1
        DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        
        
 #   - name: Setup Node.js
 #     uses: actions/setup-node@v2
 #     with:
 #       node-version: '20'
        
 #   - name: Install dependencies
 #     run: |
 #       cd frontend/crm
 #       npm install

 #    - name: Run tests
 #      run: |
 #        cd frontend/crm
 #        npm test

 #   - name: Build
 #     run: |
 #       cd frontend/crm
 #       npm run build

 #   - name: Build and start containers
 #     run: |
 #       docker-compose build
 #       docker-compose up -d

 #   - name: Stop containers
 #     run: docker-compose down
